body {
    font-family: Verdana, Helvetica, sans-serif;
    font-size:120%;
    background-color: #8FBC8F; /*EEF3E2;*/
}

h1 {font-size:2em}

#errors {
    color: red;
    font-weight: bold;
}

#email {
    width:200px;
}

#email:focus {
    border: 2px solid blue;
}

#letter:focus {
    border: 2px solid blue;
}

input[type="submit"] {
    font-weight:bold;
    width:100px;
    height:30px;
    display: inline-block;
}
