<!DOCTYPE html>
<html>
  <head>
    <link type = "text/css" rel="stylesheet" href="/stylesheets/main.css" />
  </head>

  <body>
    <h1>Congratulations! You have won Hangman.</h1>
    <h2>Your phrase was: '{{ phrase }}'</h2>
    <table id="yesno">
      <tr>
        <td>
          <form action="/" method="get">
            <label for="yes">Play again?
            <input type="submit" id="yes" value="Yes">
          </form>
        </td>
        <td></td>
        <td>
          <form action="/goodbye" method="get">
            <input type="submit" id="no" value="No">
          </form>
        </td>
      </tr>
    </table>
  </body>
</html>
